/* SECCION 2 */
.seccion-dos-index {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.seccion-dos-index article {
    width: 270px;
    font-size: 25px;
}
/* SECCION 3 */
.seccion-tres-index {
    margin-bottom: 50px;
}

.cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cursos img {
    width: 246px;
    height: 138.88px;
}

.cursos article {
    border: 1.5px solid rgb(170, 170, 170);
    margin-bottom: 40px;
    padding: 10.5px;
    padding-bottom: 40px;
}

.precio {
    display: inline;
    background: #fe4c13;
    padding: 4px;
    color: white;
    padding-left: 7px;
}

.align-precio {
    text-align: end;
    position: relative;
    bottom: 40px;
}

.descripcion {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    bottom: 8px;
}

.hora {
    font-size: 20px;
    position: relative;
}

.titulo-curso {
    font-size: 15px;
}

.cursos a {
    background: rgb(138, 12, 12);
    padding: 10px;
    color: white;
    border-radius: 5px;
    position: relative;
    left: 150px;
    top: 12px;
}
/* SECCION 4 */
.seccion-cuatro-index {
    margin-bottom: 50px;
}

.tarjetas {
    display: flex;
    justify-content: space-between;
}

.tarjetas img {
    width: 210px;
}