main{
    margin-top:4em;
    display:flex;
    height: 600px;
    justify-content: space-around;
}

/*lateral izquierdo*/
.lateral_izquierdo {
    width:50%;
}
.lateral_izquierdo article {
    background: url(../img/giftcard/fondo02.jpg);
    background-size: cover;
    height: 450px;
}
.div-uno {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: flex-end;
}
.div-uno p {
    background-color:#fe4c13;
    color: white;
    padding: 8px;
}
.div-dos {
    display: flex;
    font-size: 28px;
    color: white;
    height: 420px;
    flex-direction: column;
}
.div-dos p {
    padding: 20px;
    text-align: center;
}
.div-tres {
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
}
input[type="submit"]:hover {
    cursor: pointer;
}

/*lateral derecho*/
.lateral_derecho {
    width: 40%;
}
.sub-palabra {
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 18px;
}

/* COLOR */
.eleccion-color{
    display:flex;
}
.eleccion-color>div{
    margin-left:1em;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.eleccion-color input{
    margin-top:0.5em;
}
.eleccion-color .primer-div {
    margin-left: 0px;
}
.nombre {
    padding: 5px;
    margin-top: 15px;
    width: 97%;
    border: 0;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 6px;
}
.color {
    width:33px;
    height:33px;
    border: 1px solid rgb(165, 165, 165);
    border-radius:50%;
}
.color.uno {
    background-color: white;
}
.color.dos {
    background-color: black; 
}
.color.tres {
    background-color:rgb(131, 131, 131); 
}
.color.cuatro {
    background-color:rgb(41, 41, 182); 
}
.color.cinco {
    background-color:rgb(175, 37, 37); 
}

/*TAMAÑO FUENTE*/
.eleccion-tamaño-fuente{
    display:flex;
}
.eleccion-tamaño-fuente>div{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:1em;
}
.eleccion-tamaño-fuente input{
    margin-top: 0.5em;
}
.eleccion-tamaño-fuente .primer-div {
    margin-left: 0px;
    font-size: 16px;
}
.eleccion-tamaño-fuente .segundo-div {
    font-size: 17px;
}
.eleccion-tamaño-fuente .tercero-div {
    font-size: 18px;
}
.eleccion-tamaño-fuente .cuarto-div {
    font-size: 19px;
}
.eleccion-tamaño-fuente .quinto-div {
    font-size: 20px;
}

/*MONTO*/
.monto{
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.monto input {
    padding: 5px;
    width: 77%;
    border: 0;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 6px;
}
.monto p {
    margin-right: 5px;
    font-size: 18px;
}
#mensaje {
    color: red;
    font-size: 15px;
}


/*UBICACION*/
.eleccion-ubicacion {
    display: flex;
    margin-bottom: 20px;
}
.eleccion-ubicacion>div{
    margin-left:1em;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.eleccion-ubicacion input{
    margin-top: 0.5em;
}
.eleccion-ubicacion .primer-div {
    margin-left: 0px;
}

/*FONDO*/
.eleccion-fondo {
    display: flex;
}
.eleccion-fondo img {
    width: 55px;
}
.eleccion-fondo>div{
    margin-left:1em;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.eleccion-fondo input{
    margin-top: 0.5em;
}
.eleccion-fondo .primer-div {
    margin-left: 0px;
}
.boton-confirmar {
    margin-top: 20px;
    border: 0;
    background: rgb(138, 12, 12);
    padding: 10px;
    color: white;
    border-radius: 5px;
}
