.contacto h2{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.contacto_lateral{
    display:flex;
}

.contacto_lateral_derecho{
    width:50%;
    padding:1%;
}

.contacto_lateral_derecho h4{
    margin-bottom:1em;
}

.formulario-contacto{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formulario-contacto label{
    width:20%;
}

.formulario-contacto input, textarea{
    width: 79%;
    margin-bottom:1em;
}

.formulario-contacto>div{
    font-size:12px;
    font-weight: bold;
}

#mensaje{
    margin-bottom: 0px;
}

#contador_de_caracteres{
    margin-left: 20%;
    margin-bottom: 1em;
    width: 79%;
    font-size: 12px;
    font-weight: normal;
    color:silver;
}

#contador_de_caracteres>{

}

#boton{
    width:25%;
    margin-left:auto;
}

#mensaje_error{
    color: red;
    font-size: 12px;
}

.contacto_lateral_izquierdo{
    width:50%;
    padding:1%;
}

.contacto_mapa{
    display:flex;
    align-items: center;
    justify-content: center;
}